BasedOnStyle: Google
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
AllowShortFunctionsOnASingleLine: Inline
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
SortIncludes: Never
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
ReferenceAlignment: Left
PointerAlignment: Left
DerivePointerAlignment: false
InsertBraces: true
